header{
    background-color:bisque;
    h1{
        text-align: center;
    }

}

nav{
    h1{
        position: relative;
        left:200px;
        width:70px;
        background-color: whitesmoke;
    }
}
.container{
    display:flex;
    border:1px solid grey;
    flex-direction: row;
    justify-content: space-evenly;

}

